@keyframes focus-button-filled-primary
  0%
  100%
    box-shadow: 0 0 0 3px $subtle
    
@keyframes focus-button-filled-success
  0%
  100%
    box-shadow: 0 0 0 3px get($custom_color, "$light", "green4")
    
@keyframes focus-button-filled-danger
  0%
  100%
    box-shadow: 0 0 0 3px #ffe5e5
    
@keyframes focus-button-filled-warning
  0%
  100%
    box-shadow: 0 0 0 3px get($custom_color, "$light", "yellow4")
    
@keyframes focus-button-filled-dark
  0%
  100%
    box-shadow: 0 0 0 3px get($text_and_background, "$light", "dark4")
    
@keyframes focus-button-filled-info
  0%
  100%
    box-shadow: 0 0 0 3px get($custom_color, "$light", "teal4")