// Primary Color
$darker: #3568d4;
$main-color: #3e7bfa;
$lighter: #6698fa;
$outline: #3e7bfa;
$subtle: #ccddff;

// System Colors //
$text_and_background: (
  "$light": (
    "dark": (
      "dark0": #1c1c28,
      "dark1": #28293d,
      "dark2": #555770,
      "dark3": #8f90a6,
      "dark4": #c7c9d9,
      "dark_outline": #8f90a6
    ),
    "light": (
      "light0": #e4e4eb,
      "light1": #ebebf0,
      "light2": #f2f2f5,
      "light3": #fafafc,
      "light4": #ffffff,
      "liht_outline": #e4e4eb
    )
  ),
  "$dark": (
    "dark": (
      "dark0": #1c1c28,
      "dark1": #28293d,
      "dark2": #555770,
      "dark3": #8f90a6,
      "dark4": #c7c9d9,
      "dark_outline": #8f90a6
    ),
    "light": (
      "light0": #e4e4eb,
      "light1": #ebebf0,
      "light2": #f2f2f5,
      "light3": #fafafc,
      "light4": #ffffff,
      "light_outline": #c7c9d9
    )
  )
);

// System Colors //

// Status and Customs Color //
$custom_color: (
  "$light": (
    "red": (
      "red0": #e63535,
      "red1": #ff3b3b,
      "red2": #ff5c5c,
      "red3": #ff8080,
      "red4": #ffe6e6,
      "red_outline": #ff3b3b
    ),
    "green": (
      "green0": #05a660,
      "green1": #06c270,
      "green2": #39d98a,
      "green3": #57eba1,
      "green4": #e3fff1,
      "green_outline": #06c270
    ),
    "blue": (
      "blue0": #004fc4,
      "blue1": #0063f7,
      "blue2": #5b8def,
      "blue3": #9dbff9,
      "blue4": #e5f0ff,
      "blue_outline": #0063f7
    ),
    "yellow": (
      "yellow0": #e6b800,
      "yellow1": #ffcc00,
      "yellow2": #fddd48,
      "yellow3": #fded72,
      "yellow4": #fffee6,
      "yellow_outline": #ffcc00
    ),
    "orange": (
      "orange0": #e67a00,
      "orange1": #ff8800,
      "orange2": #fdac42,
      "orange3": #fccc75,
      "orange4": #fff8e6,
      "orange_outline": #ff8800
    ),
    "teal": (
      "teal0": #00b7c4,
      "teal1": #00cfde,
      "teal2": #73dfe7,
      "teal3": #a9eff2,
      "teal4": #e6ffff,
      "teal_outline": #00cfde
    ),
    "purple": (
      "purple0": #4d0099,
      "purple1": #6600cc,
      "purple2": #ac5dd9,
      "purple3": #dda5e9,
      "purple4": #ffe6ff,
      "purple_outline": #6600cc
    )
  ),
  "$dark": (
    "red": (
      "red0": #e63535,
      "red1": #ff3b3b,
      "red2": #ff5c5c,
      "red_outline": #ff3b3b
    ),
    "green": (
      "green0": #05a660,
      "green1": #06c270,
      "green2": #39d98a,
      "green_outline": #06c270
    ),
    "blue": (
      "blue0": #004fc4,
      "blue1": #0063f7,
      "blue2": #5b8def,
      "blue_outline": #0063f7
    ),
    "yellow": (
      "yellow0": #e6b800,
      "yellow1": #ffcc00,
      "yellow2": #fddd48,
      "yellow3": #ffcc00
    ),
    "orange": (
      "orange0": #e67a00,
      "orange1": #ff8800,
      "orange2": #fdac42,
      "orange_outline": #ff8800
    ),
    "teal": (
      "teal0": #00b7c4,
      "teal1": #00cfde,
      "teal2": #73dfe7,
      "teal_outline": #00cfde
    ),
    "purple": (
      "purple0": #4d0099,
      "purple1": #6600cc,
      "purple2": #ac5dd9,
      "purple_outline": #6600cc
    )
  )
);
// Status and Customs Color //

// Gradients
$gradients: (
  "$light": (
    "gradient0": linear-gradient(147.14deg, #5b8def 6.95%, #0063f7 93.05%),
    "gradient1": linear-gradient(147.14deg, #ff8800 6.95%, #e63535 93.05%),
    "gradient2": linear-gradient(147.14deg, #3e7bfa 6.95%, #6600cc 93.05%),
    "gradient3": linear-gradient(147.14deg, #00cfde 6.95%, #05a660 93.05%),
    "gradient4": linear-gradient(145.51deg, #fddd48 7.21%, #00b7c4 94.47%),
    "gradient5": linear-gradient(147.14deg, #ff3b3b 6.95%, #6600cc 93.05%),
    "gradient6": linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%),
    "gradient7": linear-gradient(145.51deg, #ac5dd9 7.21%, #004fc4 94.47%)
  ),
  "$dark": (
    "gradient0": linear-gradient(147.14deg, #5b8def 6.95%, #0063f7 93.05%),
    "gradient1": linear-gradient(147.14deg, #ff8800 6.95%, #e63535 93.05%),
    "gradient2": linear-gradient(147.14deg, #3e7bfa 6.95%, #6600cc 93.05%),
    "gradient3": linear-gradient(147.14deg, #00cfde 6.95%, #05a660 93.05%),
    "gradient4": linear-gradient(145.51deg, #fddd48 7.21%, #00b7c4 94.47%),
    "gradient5": linear-gradient(147.14deg, #ff3b3b 6.95%, #6600cc 93.05%),
    "gradient6": linear-gradient(147.14deg, #73dfe7 6.95%, #0063f7 93.05%),
    "gradient7": linear-gradient(145.51deg, #ac5dd9 7.21%, #004fc4 94.47%)
  )
);

// Gradients
